nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  width: 100%;
  max-width: 50rem;
  padding: 1rem 0;
  margin-bottom: 1rem;

  @include bk($sm) {
    padding: 1rem 1.25rem;
    justify-content: space-between;
  }
}

.links {
  display: flex;
  justify-content: flex-end;

  font-size: 1.5rem;
  font-weight: 600;

  a:first-of-type {
    margin-right: 1rem;

    @include bk($sm) {
      margin-right: 4rem;
    }
  }
}
